<!DOCTYPE html>
<html>
<head>
    <%- include('head'); %>
</head>
<body>
    <div class="sign">
        <div class="container">
            <h1><a href="/list">BLOG</a></h1>
            <div class="panel">
                <h2>Log in</h2>
                <form action="/login" method="post">
                    <p>Email</p>
                    <input type="text" name="email">
                    <p>Kata Sandi</p>
                    <input type="password" name="password">
                    <input type="submit" value="Login">
                    <a href="/list">Kembali ke Artikel</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>