<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/30kb.ico" sizes="16x16">
    <title>BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style-top.css">
    
    <script src="/send_url.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <div class="content">
            <h1>Blog Prasetiyo</h1>
            <h3>Thoughts and feelings are the formula
                to make a telescope that able to see the deepest side of a person.</h3>
            <a class="btn btn-warning" href="/list" role="button">Start reading</a>
        </div>
    </div>
</body>

</html>